{
  "pid": "com.tibco.bw.stat.appnode.a5e60724-825a-4d97-8192-b2acdba62c16",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.a5e60724-825a-4d97-8192-b2acdba62c16",
      "type": "java.lang.String"
    }
  }
}